html{
	height: 100%;
	width: 100%;
}
.index_background{
	background: url('../img/background.png') no-repeat center center fixed;
	background-size: cover;
}
.wrapper{
	margin: 10% 10%;
	padding: 5%;
	background: hsla( 100, 50%, 10%, 0.5);
	background-color: white;
	float: left;
}
.content_left{
	width: 70%;
	position: relative;
    float: left;
}
.content_left ul li{
	color: #263555;
	list-style-type: none;
}
.sidebar{
	width: 30%;
	position: relative;
    float: left;
    left: 25px;
}
.sidebar ol li{
	list-style-type: none;
}
.digits{
	width: 30px;
    height: 30px;
    border-radius-color: 10px;
    border-radius: 15px;
    background-color: #38afe5;
    display: block;
    text-align: center;
    box-sizing: border-box;
    padding: 6px;
    color: white;
    position: absolute;
    left: -5px;
}
.img_left_streamline{
	float: left;
	margin-right: 20px;
	margin-bottom: 10px;
}
.content_half{
	width: 50%;
	float: left;
	position: relative;
}

.text_article{
	border: 1px black solid;
	margin-bottom: 0;
	padding: 15px;
}
.article{
	display: block;
	width: 10px;
	height: 10px;
	border-style: solid;
	border-width: 0.1px 0.1px 0 0;
	transform: rotate(-225deg);
	margin: 0;
	top: 202px;
	position: absolute;
	left: 120px;
	background-color: white;
}
.color_text{
	color: #263555;
}
.color_text_name{
	color: #263555;
	text-align: center;
}
.authorship{
	text-align: center;
}